# -------------------------
# Terraform
# -------------------------
*.tfstate
*.tfstate.*
.terraform/
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.plan

!.terraform.lock.hcl

# -------------------------
# Helm
# -------------------------
*.tgz
tmp/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# SonarQube
# -------------------------
.scannerwork/

# -------------------------
# .NET
# -------------------------
bin/
obj/

# -------------------------
# Secrets
# -------------------------
Secrets/
*.pfx
*.pem
*.key
*.crt

# -------------------------
# General
# -------------------------
*.log
*.swp
.DS_Store
Thumbs.db